<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Bsale</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <form class="d-flex" action="/categoria" method="GET">
        <select class="form-select" aria-label="Default select example" name="categoria">
          <option value="0" selected>Categorias</option>
          {{#each categorias}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <button class="btn btn-outline-success" type="submit">Filtrar</button>
      </form>
    </div>
  </div>
</nav>