<br>
<div class="container mt-5">
  <div class="row justify-content-center">
    {{#each productos}}
      <div class="card m-2" style="width: 15rem;">
        <img src="{{this.url_image}}" class="card-height" alt="..." />
        <div class="card-body align-items-end">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">Precio: {{this.price}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>